# Cleaning Data Exercise

In [39]:
# Load dataset into a dataframe
import numpy as np
import pandas as pd

# helpful character encoding module
import chardet

# retreived from: https://www.kaggle.com/rtatman/data-cleaning-challenge-character-encodings/ 
with open('APCspend2013.csv', 'rb') as rawdata:
    result = chardet.detect(rawdata.read(10000))

# check what the character encoding might be
print(result)

{'encoding': 'ISO-8859-1', 'confidence': 0.73, 'language': ''}

In [40]:
df = pd.read_csv('APCspend2013.csv', encoding='ISO-8859-1')

In [41]:
# replaced all of the £ with no space to prepare the data for calculating the summary statistics
df = df.apply(lambda x: x.str.replace('£', ''))

In [42]:
# converted the data type from string to numeric to the COST column
df['COST (£) charged to Wellcome (inc VAT when charged)'] = pd.to_numeric(df['COST (£) charged to Wellcome (inc VAT when charged)'],errors='coerce')

In [43]:
# displayed the first five rows to get a sense of the data and to see whether the replace() was successful or not
df.head()

,PMID/PMCID,Publisher,Journal title,Article title,COST (£) charged to Wellcome (inc VAT when charged)
0,NaN,CUP,Psychological Medicine,Reduced parahippocampal cortical thickness in ...,0.00
1,PMC3679557,ACS,Biomacromolecules,Structural characterization of a Model Gram-ne...,2381.04
2,23043264 PMC3506128,ACS,J Med Chem,"Fumaroylamino-4,5-epoxymorphinans and related ...",642.56
3,23438330 PMC3646402,ACS,J Med Chem,Orvinols with mixed kappa/mu opioid receptor a...,669.64
4,23438216 PMC3601604,ACS,J Org Chem,Regioselective opening of myo-inositol orthoes...,685.88

In [44]:
# check the shape of the dataset
df.shape

(2127, 5)

# Checking Missing Values

In [45]:
# get the number of missing values per column
missing_values_count = df.isnull().sum()

# look at the missing values for all columns
missing_values_count[:]

PMID/PMCID                                             199
Publisher                                                0
Journal title                                            1
Article title                                            0
COST (£) charged to Wellcome (inc VAT when charged)     13
dtype: int64

In [46]:
# how many total missing values do we have?
total_cells = np.product(df.shape)
total_missing = missing_values_count.sum()

# percent of data that is missing
(total_missing/total_cells) * 100

2.002820874471086

We can see that the most of the missing values are in the PMID/PMCID column which are ID's and common in this dataset.  I will not have to do anything to the missing values because they will not affect my analysis.  The one missing value in the Journal Title column will not affect my analysis either, so I will not do any imputation.

# Determine the five most common journals and the total articles for each.

In [47]:
# found the top five most common journals
df['Journal title'].value_counts()[:5]

PLoS One                                           92
PLoS ONE                                           62
Journal of Biological Chemistry                    48
Nucleic Acids Research                             21
Proceedings of the National Academy of Sciences    19
Name: Journal title, dtype: int64

# Calculate the mean, median, and standard deviation of the open-access cost per article for each journal.

In [48]:
# calculated the mean of the COST column
df['COST (£) charged to Wellcome (inc VAT when charged)'].mean()

24206.441892147646

In [49]:
# calculated the median of the COST column
df['COST (£) charged to Wellcome (inc VAT when charged)'].median()

1889.95

In [50]:
# calculated the standard deviation of the COST column
df['COST (£) charged to Wellcome (inc VAT when charged)'].std()

147300.99214861987